# Project
PROJECT_CODE=KG

# Paths
INPUT_DIR=./input
OUTPUT_DIR=./output
CONFIG_DIR=./config

# Avito API (https://developers.avito.ru/)
AVITO_CLIENT_ID=
AVITO_CLIENT_SECRET=

# LLM API keys
ANTHROPIC_API_KEY=

# Telegram Bot
BOT_TOKEN=

# Contact defaults
DEFAULT_CONTACT_PHONE=
DEFAULT_MANAGER_NAME=
